$sakuraPink: #d9a3bc;
$toukaPurple: #c9528c;
$ichigoRed: #f23847;
$mikanOrange: #f28705;
$yuzuYellow: #ffc800;
$kujakuishiGreen: #aeee98;
$shinmeGreen: #d2d904;
$shibafuGreen: #a9bf04;
$oliveGreen: #7c8c03;
$uchuuGreen: #2e3934;
$kooriBlue: #79baf2;
$soraBlue: #4393d9;
$kumoriBlue: #829bb1;
$metalBlue: #2e455b;
$prussianBlue: #102b43;
$sameGray: #1d2125;
$black: #000;
$white: #fff;

body {
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
